*
{
    margin: 0;
    padding: 1rem;
    font-family: monospace;
}

html
{
    scroll-behavior: smooth;
}
a
{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

#name
{
    text-align: center;
    margin-top: 100px;
    font-size: 350%;
    color: white;
    animation: fc 2s infinite;
}

@media(min-width:300px)
{
    #name{font-size: 180%;}
}

@media(min-width:600px)
{
    #name{font-size: 250%;}
}

@media(min-width:1200px)
{
    #name{font-size: 350%;}
}

@keyframes fc {

    0%, 100%
    {
        color: white;
    }

    

    50%
    {
        color: gray;
    }

    
}

/* #name:hover
{
    text-transform:uppercase;
    
} */
#bt
{
    color: white;
}
body
{
    background-color: #000000;
    margin: 0;
    padding: 0;
}

#links
{
    text-align: center;
    margin-top: 80px;
    font-size: 250%;
    margin-bottom: 80px;
  
}

@media (min-width:300px)
{
    #links{font-size: 100%;}
}

@media (min-width:600px)
{
    #links{font-size: 200%;}
}

@media (min-width:1200px)
{
    #links{font-size: 250%;}
}


#links *
{
    display: inline;
}

.cards
{
    display: grid;
    margin: 0 auto;
    max-width: 1200px;
}

#c
{
    margin: 10px;
    height: 200px;
    background-color: black;
    transition: 1s; 
    box-shadow:0px 0px 2px 2px 2px#FFE4E1;
    /* transform-origin: center center; */
    border: 2px solid gray;

    
}

#c:hover
{
   transform: scale(1.1);
}

@media (min-width:600px){
    .cards{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width:900px){
    .cards{
        grid-template-columns: repeat(3,1fr);
    }
}

.cards p
{
    text-align: center;
    line-height: 180px;
    font-size: 200%;
}

.cards #ptf
{
    display: block;
    position: relative;
    bottom: 160px;
    font-size:50%;
    color: gray;
}

.up button
{
    display: block;
    float: left;
    cursor:pointer;
    border-radius: 90px;
    border: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    margin-right: 10px;
}

html
{
    scroll-behavior: smooth;
}


.hide
{
    display: none;
}


.om
{
    height: 700px;
}
nav
{
    margin: 0;
    height: 100px;
    width: auto;
    
}
#s
{
    color: white;
    
}


